.colContainer{
    display: flex;
    flex-grow: 0;
    flex-direction: column;
    align-items: stretch;
    .colHeader{
        display: flex;
        height: 20px;
        justify-content: space-between;
        align-items: center;
    }
    .colContent{
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        flex-shrink: 0;
        flex-wrap: wrap;
    }
}